SUPABASE_URL=postgresql://postgres:R2a!pDHhrr%-._r@db.tuxilpvjzbpoclgiebbe.supabase.co:5432/postgres
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR1eGlscHZqemJwb2NsZ2llYmJlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUzMDUzNzcsImV4cCI6MjA5MDg4MTM3N30.4lBoxPRVWhE3HvMA-Or4e9W7hOJzBbu7Mbmtj3qIn5Q
